@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background: radial-gradient(white, lightpink);
    width: 100vw;
    height: 100vh;
}

header .row{
    margin-top: 80px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px
}
a{
    text-decoration: none;
    color: #555;
}
.ico:hover{
    color: whitesmoke;
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid lightgray;
    transition: all 0.5s;
}
h1{
    color: gray;
    text-align: center;
    grid-area: h;
    padding: 20px;
}
hr{
    margin: 0 auto;
    opacity: 0;
    width: 80%;
    height: 10px;
    background-color: purple;
    border: none;
    border-radius: 10px;
    text-align: center;
    animation-name: enlarge;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.r1{
    opacity: 0;
    animation-delay: 5s;
}
@keyframes enlarge{
    from{
        width: 0px;
    }
    to{
        opacity: 1;
        width: 85%;
    }
}
.content-1{
    grid-area: c;
    text-align: center;
    color: grey;
}
.content-2{
    grid-area: d;
    text-align: center;
    color: darkgray;
    padding-bottom: 40px;
}
.c-img{
    margin: 0 auto;
    width: 280px;
    grid-area: i;
    margin: 0 auto;
}
.flex-container{
    margin: 30px auto;
    display: grid;
    border-radius: 20px;
    border: 1px solid lightgrey;
    width: 70%;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(100px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "h h h"
    "i i i"
    "c c c"
    "d d d";
    animation-name: fade;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes fade{
    from{
        transform: rotate(-1deg);
    }
    to{
        transform: rotate(1deg);
    }
}
/* Footer */
.footer-container{
    max-width: 1170px;
    margin: auto;
}
.footer-col ul{
    list-style: none;
}
footer{
    margin-top: 80px;
    background-color: #24262b;
    padding: 70px 0;
    border-radius: 50px 50px 0 0;
    border: 2px solid lightgray;
}
.f-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 40px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: orange;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li a{
    font-size: 16px;
    color: #bbbbbb;
    font-weight: 300;
    display: block;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
}
.footer-col .social-links .insta:hover{
    background-color: violet;
}
.footer-col .social-links .facebook:hover{
    background-color: blue;
}
.footer-col .social-links .youtube:hover{
    background-color: red;
}
.footer-col .social-links .linkedin:hover{
    background-color: skyblue;
}