@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background: radial-gradient(white, lightpink);
    width: 100vw;
    height: 100vh;
}

header .row{
    margin-top: 80px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px
}
a{
    text-decoration: none;
    color: #555;
}
.ico:hover{
    color: whitesmoke;
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid lightgray;
    transition: all 0.5s;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-container{
    width: 98dvw;
    padding: 3dvw;
    height: auto;
    flex-wrap: wrap;
    flex-basis: 1;
    gap: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    width: 20dvw;
    border-radius: 1rem;
    height: 50dvh;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    background: rgba(255,255,255,0.3);
    transition: all .5s;
}
.card img{
    border-radius: 0.7rem;
}
.card h5{
    color: gray;
}
.card h4{
    padding-top: 20px;
    color: #24262b;
}
.card:hover{
    border: 3px solid purple;
    width: 22dvw;
    height: 52dvh;
}



/* Footer */
.footer-container{
    max-width: 1170px;
    margin: auto;
}
.footer-col ul{
    list-style: none;
}
footer{
    margin-top: 80px;
    background-color: #24262b;
    padding: 70px 0;
    border-radius: 50px 50px 0 0;
    border: 2px solid lightgray;
}
.f-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 40px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: orange;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li a{
    font-size: 16px;
    color: #bbbbbb;
    font-weight: 300;
    display: block;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
}
.footer-col .social-links .insta:hover{
    background-color: violet;
}
.footer-col .social-links .facebook:hover{
    background-color: blue;
}
.footer-col .social-links .youtube:hover{
    background-color: red;
}
.footer-col .social-links .linkedin:hover{
    background-color: skyblue;
}